*{
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.container{
  width:100%;
  height:100vh;
  background:#222;
  display:flex;
  align-items:center;
  justify-content:center;
}

h1{
  font-size:35px;
  color:#fff;
  font-weight:300;
  position:relative;
}

h1::before,h1::after{
  content:'';
  padding:35px;
  position:absolute;
  left:0;
  top:50%;
  display:block;
  transform:translateX(-50%) translateY(-50%) rotate(0);
  border:5px solid #26ff12;
}

h1::before{
  border-top:5px solid #26ff12;
  border-left:5px solid #26ff12;
}

h1::after{
  border-bottom:5px solid #26ff12;
  border-right:5px solid #26ff12; 

}